$blue: #3d405b;
$red: #e07a5f;
$lightBrown: #f4f1de;
$xlightBrown: #edebe3;
$green: #81b29a;
$dimGreen: #619e81;
$black: #191923;
$lightGray: #ebebeb;
$xxlightGray: #f5f5f5;
$gray: #bdbdbd;
$white: #fff;

:export {
  blue: $blue;
  red: $red;
  lightBrown: $lightBrown;
  xlightBrown: $xlightBrown;
  green: $green;
  dimGreen: $dimGreen;
  black: $black;
  gray: $gray;
  lightGray: $lightGray;
  xxlightGray: $xxlightGray;
  white: $white;
}
