$blue: #3d405b;
$lightBrown: #f4f1de;
$green: #81b29a;
$dimGreen: #619e81;
$black: #191923;
$lightGray: #ebebeb;
$gray: #bdbdbd;
$white: #fff;

:export {
  blue: $blue;
  lightBrown: $lightBrown;
  green: $green;
  dimGreen: $dimGreen;
  black: $black;
  lightGray: $lightGray;
}
