.RUNNING {
  position: relative;
  width: 4.5rem;
}

.RUNNING::before {
  content: "RUNNING";
  position: absolute;
  top: -0.5em;
  left: -0.5em;
  animation: RUN_ 1s infinite;
}

@keyframes RUN_ {
  25% {
    content: "RUNNING.";
  }
  50% {
    content: "RUNNING..";
  }
  75% {
    content: "RUNNING...";
  }
  100% {
    content: "RUNNING";
  }
}

.BUILDING {
  position: relative;
  width: 4.5rem;
}

.BUILDING::before {
  content: "BUILDING";
  position: absolute;
  top: -0.5em;
  left: -0.5em;
  animation: building 1s infinite;
}

@keyframes building {
  25% {
    content: "BUILDING.";
  }
  50% {
    content: "BUILDING..";
  }
  75% {
    content: "BUILDING...";
  }
  100% {
    content: "BUILDING";
  }
}

.SORTING {
  position: relative;
  width: 4.5rem;
}

.SORTING::before {
  content: "SORTING";
  position: absolute;
  top: -0.5em;
  left: -0.5em;
  animation: sorting 1s infinite;
}

@keyframes sorting {
  25% {
    content: "SORTING.";
  }
  50% {
    content: "SORTING..";
  }
  75% {
    content: "SORTING...";
  }
  100% {
    content: "SORTING";
  }
}
.SEARCHING {
  position: relative;
  width: 4.5rem;
}

.SEARCHING::before {
  content: "SEARCHING";
  position: absolute;
  top: -0.5em;
  left: -0.5em;
  animation: searching 1s infinite;
}

@keyframes searching {
  25% {
    content: "SEARCHING.";
  }
  50% {
    content: "SEARCHING..";
  }
  75% {
    content: "SEARCHING...";
  }
  100% {
    content: "SEARCHING";
  }
}
