@import "./styles/variables";
@import "./styles/utility.scss";

.App {
}

a {
  all: unset;
  cursor: pointer;
  text-decoration: none;
}

h1,
h2,
h3 {
  color: $blue;
}

input {
  all: unset;
  border: 0.2em solid $blue;
  font-size: 1rem;
  background-color: $lightBrown;
  font-family: "Inconsolata", monospace;
  height: 2rem;
  margin: 0.25em 0;
}

button {
  padding: 0 1em;
  border-radius: 0.5em;
  border: 0.2em solid $blue;
  color: $blue;
  font-size: 1rem;
  background-color: $green;
  font-family: "Inconsolata", monospace;
  height: 2rem;
  margin: 0.25em;
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

button:enabled:hover {
  cursor: pointer;
  background-color: $dimGreen;
}

button:disabled {
  border-color: gray;
  background-color: lightgray;
}

button.secondaryBtn {
  background-color: white;
  border: 0.15em solid $blue;
}
button.secondaryBtn:hover {
  background-color: white;
}

.websiteName {
  color: $blue;
}

.pageNav {
  display: flex;
  justify-content: center;
  list-style-type: none;
  gap: 2rem;
}

.page {
  padding: 2rem;
}

.homePage {
  max-width: 1280px;
  margin: 0 auto;
}

@media only screen and (max-width: 600px) {
  .page {
    padding: 0;
  }

  h1,
  h2,
  h3,
  p,
  button,
  input {
    margin: 1rem 0 1rem 0.5rem;
  }
}
