@import "../../styles/variables";

.vizContainer {
  display: flex;
  justify-content: center;
  background-color: $green;
  height: 50vh;
  border: 0.25em solid $blue;
  padding: 0.25em 0;
  flex: 1;
}

.vizCodeMain {
  border: 0.25em solid $blue;
  padding: 0 1rem;
  background-color: $lightBrown;
  overflow-x: scroll;
}
